<style>
    * {
        margin: 0;
        padding: 0;
    }

    body,
    button {
        font-family: "Segoe UI", sans-serif;
        color: #FFFFFF;
    }

    body {
        font-size: 12px;
    }

    section {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1A1A1A;
    }

    button {
        background: transparent;
        border: 1px solid white;
        font-weight: 600;
        padding: 0.15rem 0.3rem;
        border-radius: 3px;
        font-size: 12px;
    }

    .reel__container {
        height: 629.76px;
        width: 354.24px;
        background: url(https://i.imgur.com/jg6HwrR.gif) no-repeat center;
        background-size: cover;
        border-radius: 10px;
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .reel__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .reel__back-button {
        display: flex;
        align-items: center;
    }

    .reel__back-button p {
        font-weight: 700;
        font-size: 16px;
    }

    .icon-tabler-arrow-narrow-left {
        margin-right: 0.5rem
    }

    .reel__content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .reel__user {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    .reel__avatar {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 30px;
        margin-right: 0.5rem;
    }

    .reel__username {
        font-weight: 600;
        margin-right: 0.5rem;
    }

    .icon-tabler-message-circle {
        transform: scaleX(-1);
    }

    .reel__options {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 225px;
        align-items: center;
    }

    .reel__audio-cover {
        width: 24px;
        height: 24px;
        object-fit: cover;
        border: 3px solid #FFFFFF;
        border-radius: 7px;
    }

    .reel__likes {
        font-weight: 600;
        margin-top: -1rem;
        font-size: 11px;
    }

    .reel__caption {
        margin-bottom: 0.5rem;
    }

    .reel__audio {
        display: flex;
        align-items: center;
        margin-left: -0.4rem;
    }
</style>
<section>
    <div class="reel__container">
        <div class="reel__title">
            <div class="reel__back-button">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left"
                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                    <line x1="5" y1="12" x2="9" y2="16"></line>
                    <line x1="5" y1="12" x2="9" y2="8"></line>
                </svg>
                <p>Reels</p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-camera" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                    d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2">
                </path>
                <circle cx="12" cy="13" r="3"></circle>
            </svg>
        </div>
        <div class="reel__content">
            <div class="reel__desc">
                <div class="reel__user">
                    <img src="https://i.ibb.co/x36chgX/Untitled.png" class="reel__avatar" />
                    <p class="reel__username">aisyahnrlh</p>
                    <button>Follow</button>
                </div>
                <p class="reel__caption">Trees, fogs, and mountains⛰️🌳</p>
                <p class="reel__audio">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tallymark-3" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="8" y1="7" x2="8" y2="17"></line>
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="16" y1="7" x2="16" y2="17"></line>
                    </svg>
                    AJR • The Good Part
                </p>
            </div>
            <div class="reel__options">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
                </svg>
                <p class="reel__likes">1.307</p>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-circle" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-send" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line x1="10" y1="14" x2="21" y2="3"></line>
                    <path d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots-vertical" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="12" r="1"></circle>
                    <circle cx="12" cy="19" r="1"></circle>
                    <circle cx="12" cy="5" r="1"></circle>
                </svg>
                <img src="https://i.scdn.co/image/ab67616d0000b2736227bea855e8e32fe0c4e81f" class="reel__audio-cover" />
            </div>
            
        </div>
        
    </div>
    
</section><br>

<section>
    <div class="reel__container">
        <div class="reel__title">
            <div class="reel__back-button">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left"
                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                    <line x1="5" y1="12" x2="9" y2="16"></line>
                    <line x1="5" y1="12" x2="9" y2="8"></line>
                </svg>
                <p>Reels</p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-camera" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                    d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2">
                </path>
                <circle cx="12" cy="13" r="3"></circle>
            </svg>
        </div>
        <div class="reel__content">
            <div class="reel__desc">
                <div class="reel__user">
                    <img src="https://i.ibb.co/x36chgX/Untitled.png" class="reel__avatar" />
                    <p class="reel__username">aisyahnrlh</p>
                    <button>Follow</button>
                </div>
                <p class="reel__caption">Trees, fogs, and mountains⛰️🌳</p>
                <p class="reel__audio">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tallymark-3" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="8" y1="7" x2="8" y2="17"></line>
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="16" y1="7" x2="16" y2="17"></line>
                    </svg>
                    AJR • The Good Part
                </p>
            </div>
            <div class="reel__options">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
                </svg>
                <p class="reel__likes">1.307</p>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-circle" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-send" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line x1="10" y1="14" x2="21" y2="3"></line>
                    <path d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots-vertical" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="12" r="1"></circle>
                    <circle cx="12" cy="19" r="1"></circle>
                    <circle cx="12" cy="5" r="1"></circle>
                </svg>
                <img src="https://i.scdn.co/image/ab67616d0000b2736227bea855e8e32fe0c4e81f" class="reel__audio-cover" />
            </div>
            
        </div>
        
    </div>
    
</section>